/*
   Define colors. They're taken from Tailwind CSS and can be found
   here: https://tailwindcss.com/docs/colors
*/

:root {
   --blue: oklch(74.6% 0.16 232.661);
   --dark-blue-2: oklch(42.4% 0.199 265.638);
   --dark-blue: oklch(27.8% 0.033 256.848);
   --darker-blue: oklch(13% 0.028 261.692);

   --white: oklch(98.5% 0 0);
   --lighter-gray: oklch(70.5% 0.015 286.067);
   --light-gray: oklch(27.4% 0.006 286.033);
   --gray: oklch(21% 0.006 285.885);
   --black: oklch(14.1% 0.005 285.823);

   --font: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

html, body {
   overflow-y: auto;
   margin: 0;
   padding: 0;
}

/*
   Generic style
*/

a {
   font-family: var(--font);
   color: var(--blue);
   text-decoration: none;
   cursor: default;
   font-weight: 500;
}

a.link-disabled {
   color: var(--lighter-gray)
}

a:hover:not(.link-disabled) {
   text-decoration: underline;
   cursor: pointer;
}

:not(p) > a {
   user-select: none;
   margin-block: 1.2rem;
   margin-inline: 0.4rem;

   @media (width >= 40rem) {
      margin-inline: 1.4rem;
   }
}

img {
   display: block;
   user-select: none;
   width: 100%;
   border-radius: 12.5px;
}

/*
   Header
*/

header {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

/*
   Body
*/

body {
   background-color: var(--black);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   min-height: 100vh;
}

article {
   margin-inline: auto;
   padding-inline: 1rem;
   margin-bottom: auto;
   max-width: 42rem;
   width: auto !important;
}

article h1 {
   font-weight: bold;
   font-family: var(--font);
   font-size: 2.25rem;
   line-height: 1.1;

   text-align: center;
   margin-block: 1.4rem;
   color: var(--white);
}

article h2 {
   font-weight: bold;
   font-family: var(--font);
   font-size: 1.9rem;
   line-height: 0.9;

   text-align: left;
   margin-block: 1rem;
   color: var(--white);
}

article h3 {
   font-family: var(--font);
   font-size: 1rem;

   text-align: center;
   color: var(--lighter-gray);
}

article pre {
   font-family: var(--font);
   font-size: 0.9rem;
   color: var(--lighter-gray);
}

article p {
   font-family: var(--font);
   color: var(--white);
   font-size: 1rem;
   line-height: 1.5;
   margin-block: 5px;
}

article p span {
   margin-left: 25px;
}

/*
   Footer
*/

footer {
   /* background-color: var(--gray); */
   margin: 0;
   padding: 0;

   width: 100vw;
   height: 100px;
   padding-top: 20px;
   margin-top: 125px;
}

footer a {
   margin-block: 0px;
}

footer p {
   text-align: center;
   font-family: var(--font);
   color: var(--lighter-gray);
}

footer div {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-block: auto;
}

/*
   index.html, projects.html and blog.html specifics
*/

#pages {
   margin-block: 30px;
}

#projects, #blogs, #pages {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 15px;
}

#projects div, #blogs div, #pages a {
   margin-block: 10px;
   padding: 20px;
   background-color: var(--gray);
   border-radius: 12.5px;
   border: 1.5px solid var(--light-gray);
   box-shadow: 3px 7.5px 10px black, -3px 7.5px 10px black;
   transition: scale 100ms, border 100ms, background-color 100ms, box-shadow 100ms;
}

#projects div:hover, #blogs div:hover, #pages a:hover {
   scale: 1.015;
   border: 1.5px solid var(--blue);
   background-color: var(--dark-blue);
   box-shadow: 3px 7.5px 10px var(--darker-blue), -3px 7.5px 10px var(--darker-blue);
}

#projects a {
   margin: 0;
   margin-bottom: 5px;
}

#blogs a, #pages a {
   margin: 0;
}

#blogs a:hover, #pages a:hover {
   text-decoration: none;
}

#bad-search {
   text-align: center;
   display: none;
   color: var(--lighter-gray);
}

#search-bar {
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   text-align: left;
   margin-block: 12.5px;
   border-radius: 12.5px;
   background-color: var(--gray);
   border: 1.5px solid;
   border-color: var(--light-gray);
   color: var(--white);
   font-family: var(--font);
   box-shadow: 1.5px 3px 5px black, -1.5px 3px 5px black;
   transition: background-color 100ms, border-color 100ms, box-shadow 100ms;
}

#search-bar:focus {
   outline: none;
   box-shadow: 1.5px 3px 5px var(--darker-blue), -1.5px 3px 5px var(--darker-blue);
   background-color: var(--dark-blue);
   border-color: var(--blue);
}

#project-buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#project-buttons button {
   width: 45px;
   height: 45px;
   margin: 5px;
   margin-top: 30px;

   color: var(--white);
   font-family: var(--font);
   font-size: 1.25rem;
   border: none;
   border-radius: 6.25px;
   box-shadow: 1px 3px 5px var(--black), -1px 3px 5px var(--black);
   background-color: var(--light-gray);
   transition: scale 100ms, background-color 100ms, border-color 100ms;
}

#project-buttons button:not(.selected-btn):hover {
   scale: 1.1;
   background-color: var(--dark-blue);
   box-shadow: 1px 3px 5px var(--darker-blue), -1px 3px 5px var(--darker-blue);
}

#project-buttons .selected-btn {
   color: var(--blue);
}

/*
   Project page specifics
*/

#gallery {
   background-color: var(--gray);
   border-radius: 12.5px;
   box-shadow: 3px 7.5px 10px black, -3px 7.5px 10px black;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 7.5px;
   padding: 7.5px;
   margin-block: 7.5px;
}

#gallery img, #screen img {
   cursor: pointer;
   padding: 1;
   transition: scale 100ms;
   z-index: 1000;
}

#gallery img:not(.selected-img):hover,
#screen  img:not(.selected-img):hover {
   scale: 1.03
}

#gallery img.selected-img, #screen img.selected-img {
   max-width: 100%;
   max-height: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
   margin: auto;
   overflow: auto;
   position: fixed;
   object-fit: contain;
   transition: none;
}

#screen {
   height: 100vh;
   width: 100vw;
   position: fixed;
   background-color: var(--black);
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
}

#left-arrow, #right-arrow {
   position: fixed;
   display: none;
   width: 3.5rem;
   height: 3.5rem;
   top: 50vh;
}

#left-arrow:hover, #right-arrow:hover {
   scale: 1.1 !important;
}

#left-arrow:active, #right-arrow:active {
   scale: 0.9 !important;
}

#left-arrow {
   left: 0;
}

#right-arrow {
   right: 0;
}
