<header class="flex flex-row items-center justify-center">
   <a id="link-to-home" class="sm:mx-5 mx-2.5 my-3 font-medium text-sky-400 hover:underline" href="../pages/index.html">Home</a>
   <a id="link-to-projects" class="sm:mx-5 mx-2.5 my-3 font-medium text-sky-400 hover:underline" href="../pages/projects.html">Projects</a>
   <a id="link-to-blog" class="sm:mx-5 mx-2.5 my-3 font-medium text-sky-400 hover:underline" href="../pages/blog.html">Blog</a>
   <a id="link-to-about" class="sm:mx-5 mx-2.5 my-3 font-medium text-sky-400 hover:underline" href="../pages/about.html">About</a>
</header>
